<div class="container">
<footer class="footer">
	<small>
		 An initiative by  &copy; Jayan Verma
		  <a href="https://jayantvermablog.wordpress.com"> Rollin Trippin Bloggin</a> 
	
	<a href="https://jayantvermablog.wordpress.com/about/"> About Jayant</a>
	<a href ="https://jayantvermablog.wordpress.com/contact/">Contact Jayant</a>

	<br>

</small>



	<nav>
		<ul>
			<li><a href="https://www.instagram.com/giant_verma/">Stalk Jayant on <img src="https://assets.gusto.com/assets/corporate/main/logos/social-media/logo-footer-instagram-7ced26473df64a8951b875ab2a013763291d17ae0cdde01c7ae4a2e6b616ba29.svg" height=20px width=20px></a></li>
		</ul>
	</nav>
	<img src="http://www.freestencilgallery.com/wp-content/uploads/2017/03/Rick-and-Morty-Stencil-thumb.jpg" align="middle"><br>

</footer>