<div class="container">
<footer class="footer">
	<small>
		Copyright &copy; <a href="https://jayantvermablog.wordpress.com"> Rollin Trippin Bloggin</a> by Jayan Verma
	</small>
	<nav>
		<ul>
			<li><%= link_to "about", about_path %></li>
		</ul>
	</nav>
</footer>