<div class="container">
<footer class="footer">
	<small>
		 An initiative by  &copy; Jayan Verma     <a href="https://jayantvermablog.wordpress.com"> Rollin Trippin Bloggin</a> 
	
	<a href="https://jayantvermablog.wordpress.com/about/"> About Jayant</a>
	<a href ="https://jayantvermablog.wordpress.com/contact/">Contact Jayant</a>
	<br>

</small>
	<nav>
		<ul>
			<li><%= link_to "about", about_path %></li>
		</ul>
	</nav>
</footer>